<%= form_with(model: label, local: true) do |form| %>
  <% label.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>

  <%= form.text_field :name %>
  <%= form.submit %>
<% end %>