<h1>Edit</h1>
<%= form_tag("/labels/#{@label.id}/update") do %>
  <% @label.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>
<textarea name = "name"><%= @label.name %></textarea>
<p><input type="submit" value="Save"></p>
<% end %>
<p><%= link_to("Back", "/labels") %></p>